<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>{{ detail[0] }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>


<body>
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a href="{{ url_for('index') }}" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/icon-deal.png') }}" alt="Icon"
                         style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">MAKE FRIEND!</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="{{ url_for('index') }}" class="nav-item nav-link active">Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Search</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ url_for('mbti_feature.mbti_feature') }}" class="dropdown-item">MBTI feature</a>
                            <a href="{{ url_for('friend.show_friends_page') }}" class="dropdown-item">Search Friend</a>
                            <a href="{{ url_for('find.user_find') }}" class="dropdown-item">Matching!</a>

                        </div>
                    </div>
                    {% if session.get('user_id') %}
                        <a href="{{ url_for('feed.feed') }}" class="nav-item nav-link">My Feed</a>
                    {% endif %}
                    <a href="{{ url_for('feed.feed_search') }}" class="nav-item nav-link">Feed</a>
                    {% if session.get('user_id') %}
                        <a href="{{ url_for('login.mypage') }}" class="nav-item nav-link">MYPAGE</a>
                    {% endif %}
                </div>

                <!-- 로그인 여부에 따라 버튼 변경 -->
                {% if session.get('user_id') %}
                    <a href="{{ url_for('login.logout') }}" class="btn btn-primary px-3 d-none d-lg-flex">Logout</a>
                {% else %}
                    <a href="{{ url_for('login.login') }}" class="btn btn-primary px-3 d-none d-lg-flex">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid header bg-white p-0">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-6 p-5 mt-lg-5">
                <h1 class="display-5 animated fadeIn mt-5">{{ detail[0] }} 유형은...</h1>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div style="margin-left: 50px">
        <pre style="font-family: 'Font Awesome 5 Free'; font-size:18px">{{ detail[1] }}</pre>


        <button onclick="location.href='/mbtiFeature'" style="background-color: #00B98E; color:white; border:none; "> <<
            뒤로가기
        </button>
        <br>
        <br>

        {% if table %}
            <table style="text-align: center; border: 1px solid #00B98E;">
                <tr>
                    <th style="padding:5px; border: 1px solid #00B98E;">댓글 순서</th>
                    <th style="padding:5px; border: 1px solid #00B98E;">유저 id</th>
                    <th style="padding:5px; border: 1px solid #00B98E;">댓글</th>
                    <th style="padding:5px; border: 1px solid #00B98E;">시각</th>
                    <th style="padding:5px; border: 1px solid #00B98E;"></th> <!--삭제버튼 자리-->
                </tr>
                {% for i in range(table|length) %}
                    <tr>
                        <td style="padding:5px; border: 1px solid #00B98E;">{{ table|length - i }}</td>
                        <td style="padding:5px; border: 1px solid #00B98E;">{{ table[table|length - i-1][2] }}</td>
                        <!-- 유저 id -->
                        <td style="padding:5px; border: 1px solid #00B98E;">{{ table[table|length - i-1][3] }}</td>
                        <!-- 댓글 -->
                        <td style="padding:5px; border: 1px solid #00B98E;">{{ table[table|length - i-1][4] }}</td>
                        <!-- 시각 -->
                        {% if user_id == table[table|length - i - 1][2] %} <!--만약 내가 단 댓글이면 삭제버튼 넣기-->
                            <td style="padding:5px; border: 1px solid #00B98E;">
                                <form action="/mbtiFeature" method="POST">
                                    <input type="hidden" name="action" value="delete">
                                    <input type="hidden" name="type" value="{{ detail[0] }}">
                                    <input type="hidden" name="delete_id" value="{{ table[table|length - i-1][0] }}">
                                    <input type="submit" value="delete" onClick="alert('해당 댓글이 삭제됨.')">
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <br>
        <form action="/mbtiFeature" method="post" enctype="multipart/form-data" onsubmit="return isTextareaFill()">
            <textarea id="comment" name="comment" placeholder="댓글을 달아보세요!" required></textarea>
            <input type="hidden" name="type" value="{{ detail[0] }}">
            <input type="hidden" name="action" value="upload">
            <br>
            <input type="submit" value="댓글달기">
        </form>
        <script>
            function isTextareaFill() {
                const comment = document.getElementById('comment').value.trim(); //trim은 공백제거
                if (comment === "") { //===는 값과 타입 모두 검사
                    return false;
                } else {
                    alert("댓글 등록 완료!");
                    return true;
                }
            }
        </script>
        <br>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>